<div class="modal" *ngIf="!game">
  <div class="column">
    <button class="newGameButton" *ngFor="let level of levels" (click)="startGame(level)">{{level.name}} </button>
  </div>
</div>

<div class="alert" *ngIf="game && game.status.value >1">
  <div>
    <h3 *ngIf="game.status.state === 'loose'" class="mdi mdi-emoticon-dead"> Perdiste</h3>
    <h3 *ngIf="game.status.state === 'win'" class="mdi mdi-podium-first">Ganaste</h3>
  </div>
</div>

<div id="game" class="column" *ngIf="game">

  <div id="controles">
    <app-display [icon]="'mdi-clock-outline'" class="control">{{game.seconds}}</app-display>
    <button (click)="game = null" class="control">New game</button>
    <app-display [icon]="'mdi-mine'" class="control">{{game.howManyMines}}</app-display>
  </div>

  <div id="matrix" class="card">
    <div class="column" *ngFor="let column of game.matrix">
      <app-tile *ngFor="let tile of column" [tile]="tile" (click)="onTileClicked(tile)"
        (contextmenu)="onTileRightClicked(tile)">
      </app-tile>
    </div>
  </div>

</div>